.weatherContainer {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    order:  0;
    max-width: 100%;
    margin-bottom: 80px;
    padding: 10px;
    max-height: 23rem;
    line-height: 1.4;
    font-size: 18px;
}


/*============== TEMP ===================*/
.tempCold {
    color: rgb(207, 228, 234);
    position: relative;
    top: -10px;
    margin: 15px;
    font-size: 45px;
    font-weight: 500;
}

.tempVeryCold {
    color: rgb(82, 154, 221);
    position: relative;
    top: -10px;
    margin: 15px;
    font-size: 45px;
    font-weight: 500;
}

.temp {
    color: rgb(234, 234, 207);
    position: relative;
    top: -10px;
    margin: 15px;
    font-size: 45px;
    font-weight: 500;
}

.tempAverageDegrees {
    color: rgb(229, 206, 153);
    position: relative;
    top: -10px;
    margin: 15px;
    font-size: 45px;
    font-weight: 500;
}

.tempHighDegrees {
    color: rgb(234, 172, 90);
    position: relative;
    top: -10px;
    margin: 15px;
    font-size: 45px;
    font-weight: 500;
}

.tempExtremeDegrees {
    color: rgb(255, 117, 42);
    position: relative;
    top: -10px;
    margin: 15px;
    font-size: 45px;
    font-weight: 500;
}

.feelsLike {
    position: relative;
    top: -16px;
    font-weight: 600;
}

.OtherInformation {
    position: relative;
    padding: 10px;
    bottom: 18rem;
    left: 18rem;
    list-style: none;
    line-height: 2;
    font-weight: 600;
    font-size: 14px;
    color: rgba(254, 254, 254, 0.6);
    word-wrap: break-word;
}

.OtherInformationIcon {
    max-width: 22px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 10px;
}


.OtherInformationIconIp{
    max-width: 20px ;
}

.daylightHours{
    font-size: 15px;
}

/*=========== Currency ==============*/
.countryInfo{
    position: absolute;
    color: rgba(254, 254, 254, 0.6);
    bottom: 12rem;
    right: 17rem;
    height: 50px;
    max-width: 27rem;
    list-style-type: none;
    font-weight: 600;
    font-size: 14px;
}
.countryInfo>h5{
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    color: rgba(254, 254, 254, 0.7);
}
.countryInfo span{
    margin-bottom: 0px;
    text-align: left;
    color: rgba(254, 254, 254, 0.7);
}

.curencyVallue{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}


.countryInfoItems{
    margin-bottom: 8px;
}

/* Second column */
.cryptoWrapper{
    position: absolute;
    left: 200px;
    top: 95px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
}

.cryptoWrapper li{
    width: 10rem;
}


/*=========== Air Quality ==============*/
.airQuality {
    position: relative;
    display: flex;
    margin-bottom: 5px;
}

.co {
    margin-right: 20px;
}

.airQualityTitle {
    display: inline-flex;
    margin-right: 10px;
}

.questionIconWrapper{
    position: absolute;
    margin-left: 15px;
    cursor: pointer;
}

.questionIcon{
    width: 30px;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.questionIcon:hover{
    width: 40px;
    transform: rotate(360deg);
}

/* .airQualityPopup{
    background-color: #272727;
    margin-left: auto;
    margin-right: auto;
    color: rgba(226, 226, 226, 0.931);
    margin: 30px;
    padding: 30px;
    border-radius: 15px;
}

.popupBtn{ 
    cursor: pointer;  
    position: relative;  
    display: block;  
    padding: 2px 5px;  
    line-height: 20px;  
    right: -60px;  
    top: -40px;  
    font-size: 18px;  
    background: #888888e7;  
    border-radius: 4px;  
    border: none;
    outline: none;
}


.airQualityPopup>p{
    font-size: 20px;
} */

/*Air quality colors*/
.airMin {
    color: rgb(93, 180, 93);
}

.airAverage {
    color: rgb(201, 207, 82);
}

.airHight {
    color: rgba(255, 183, 0, 1);
}

.airVeryHight {
    color: rgb(206, 69, 69);
}

.airExtreme {
    color: rgb(197, 0, 26);
}

.airDanger{
    color: rgb(150, 1, 196);
}

/*UV-index*/
.uvMin {
    color: rgb(93, 180, 93);
}

.uvAverage {
    color: rgb(201, 207, 82);
}

.uvHight {
    color: rgba(255, 183, 0, 1);
}

.uvVeryHight {
    color: rgb(206, 69, 69);
}

.uvExtreme {
    color: rgb(197, 0, 26);
}

.uvProgressBar{
    position: relative;
    text-align: center;
    width: 80px;
    height: 9px;
    border: 0;
    bottom: 3px;
    overflow: hidden;
    border-radius: 2px;
    background-color: #4d4d4d5e;
    appearance: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .8) inset;
    opacity: .7;
}


.uvProgressBar[value]::-moz-progress-bar {
      background-color: #3d2fdeac;
      border-radius: 2px;
      border: 0;
      appearance: none;
  }
.uvProgressBar[value]::-webkit-progress-bar {
      background-color: #4d4d4d5e;
      border-radius: 2px;
      border: 0;
      appearance: none;
  }

  .uvProgressBar::-webkit-progress-value{
    width: 80px;
    height: 9px;
    border: 0;
    overflow: hidden;
    border-radius: 2px;
    background-color: #3d2fdeac;
    appearance: none;
    text-align: center;
}

.OtherInformationForecast {
    position: relative;
    padding: 10px;
    bottom: 220px;
    left: 18rem;;
    display: inline-flex;
    flex-direction: column;
    list-style: none;
    line-height: 2; 
    font-weight: 600;
    font-size: 15px;
    color: rgba(254, 254, 254, 0.6);
    word-wrap: break-word;
}

.city {
    margin: 0;
    line-height: .5;
    max-width: 30%;
    font-size: 20px;
    font-weight: 400;
}

.cityNative{
    max-width: 30%;
}

.ipAddr{
    font-size: 15px;
    line-height: .3;
}

.date {
    margin: 0;
    padding-top: 10px;
    line-height: .5;
    padding-bottom: 50px;
    font-size: 15px;
    font-weight: 500;
}


.flex {
    display: inline-flex;
    align-items: center;
    width: 20%;
    position: relative;
    left: -15px;
    top: -10px;
}

.humidity {
    margin-right: 30px;
}

.wind {
    margin-right: 30px;
}

.feelsLike {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #c2c2c2;
}

/*======================== IP Info ========================*/
.ipRelatedInformationWrapper{
    position: relative;
    left: 720px;
    bottom: 340px;
    width: 30%;
}

.currentWeatherBtn {
    width: 100px;
    position: absolute;
    top: -40px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, .72);
    font-weight: 600;
    background: rgb(24, 24, 24, 0.8);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 8px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.currentWeatherBtn:hover {
    color: rgb(179, 179, 179);
    box-shadow: rgba(201, 201, 201, 0.1) 0px 2px 15px, rgba(62, 62, 62, 0.2) 0px 4px 15px;
}

.currentWeatherBtn:before {
    content: "";
    background: linear-gradient(45deg,
            #5f5f5f94,
            #b2b2b29b,
            #4848488f,
            #3636367d,
            #2a4e67);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-currentWeatherBtn 15s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: .4;
}

@keyframes glowing-currentWeatherBtn {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.currentWeatherBtn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(28, 28, 28, .1);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.navBackBtn{
    position: relative;
    bottom: 40px;
    max-width: 95px;
    padding: 5px;
    font-size: 14px;
    color: rgba(218, 217, 217, 0.77);
    font-weight: 600;
    border: none;
    box-shadow: rgba(33, 33, 33, 0.1) 0px 2px 10px, rgba(29, 29, 29, 0.4) 0px 4px 10px;
    background-color: #3568f386;
    border-radius: 6px;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.navBackBtn:hover{
    background-color: #3054b886;
}


/*==================== Mobile =================== */
@media(max-width: 1320px) {
    .weatherContainer {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        order: 0;
        max-width: 100%;
        margin-bottom: 80px;
        padding: 30px;
        max-height: 55rem;
        line-height: 1.5;
        font-size: 18px;
    }

        .OtherInformation {
            position: relative;
            padding: 10px;
            bottom: 18rem;
            left: 20rem;
            list-style: none;
            line-height: 2;
            font-weight: 600;
            font-size: 16px;
            color: rgba(254, 254, 254, 0.6);
            word-wrap: break-word;
        }
                                                .OtherInformationForecast {
                                                    position: relative;
                                                    padding: 10px;
                                                    bottom: 16rem;
                                                    left: 4rem;
                                                    margin: 0 auto;
                                                    display: inline-flex;
                                                    flex-direction: column;
                                                    list-style: none;
                                                    line-height: 2;
                                                    font-weight: 600;
                                                    font-size: 18px;
                                                    color: rgba(254, 254, 254, 0.6);
                                                    word-wrap: break-word;
                                                }
                /*=========== Currency ==============*/
                .countryInfo {
                    position: relative;
                    color: rgba(254, 254, 254, 0.6);
                    bottom: 12rem;
                    left: 0;
                    height: 50px;
                    margin: 0 auto;
                    max-width: 100%;
                    font-size: 16px;
                }
                                                           /* Second column */
                                                           .cryptoWrapper {
                                                               position: absolute;
                                                               left: 200px;
                                                               top: 6.2rem;
                                                               display: inline-flex;
                                                               flex-direction: column;
                                                               justify-content: center;
                                                               align-items: flex-start;
                                                               padding: 5px;
                                                           }
}


@media(max-width: 950px){ 
    .weatherContainer {
            position: relative;
            display: inline-flex;
            flex-direction: column;
            order: 0;
            width: 100%;
            margin-top: 40px;
            margin-bottom: 280px;
            padding: 30px;
            max-height: 75rem;
            line-height: 1.6;
            font-size: 25px;
        }

                /*============== TEMP ===================*/
                .tempCold {
                    color: rgb(207, 228, 234);
                    position: relative;
                    top: -10px;
                    margin: 15px;
                font-size: 70px;
                }
        
                .tempVeryCold {
                    color: rgb(82, 154, 221);
                    position: relative;
                    top: -10px;
                    margin: 15px;
                    font-size: 70px;
                }
        
                .temp {
                    color: rgb(234, 234, 207);
                    position: relative;
                    top: -10px;
                    margin: 15px;
        font-size: 70px;
                }
        
                .tempAverageDegrees {
                    color: rgb(229, 206, 153);
                    position: relative;
                    top: -10px;
                    margin: 15px;
    font-size: 70px;
                }
        
                .tempHighDegrees {
                    color: rgb(234, 172, 90);
                    position: relative;
                    top: -10px;
                    margin: 15px;
            font-size: 70px;
                }
        
                .tempExtremeDegrees {
                    color: rgb(255, 117, 42);
                    position: relative;
                    top: -10px;
                    margin: 15px;
                font-size: 70px;
                }
        
                .feelsLike {
                    position: relative;
                    top: -16px;
                    font-size: 20px;
                    font-weight: 600;
                }
    
        .OtherInformation {
            position: relative;
            padding: 10px;
            bottom: 0;
            left: 0;
            margin: 0 auto;
            list-style: none;
            line-height: 2;
            font-weight: 600;
            font-size: 20px;
            color: rgba(254, 254, 254, 0.6);
            word-wrap: break-word;
        }

                .OtherInformationForecast {
                    position: relative;
                    padding: 10px;
                    bottom: 0;
                    left: 0;
                    margin: 0 auto;
                    display: inline-flex;
                    flex-direction: column;
                    list-style: none;
                    line-height: 2;
                    font-weight: 600;
                    font-size: 20px;
                    color: rgba(254, 254, 254, 0.6);
                    word-wrap: break-word;
                }
    
        /*=========== Currency ==============*/
        .countryInfo {
            position: relative;
            color: rgba(254, 254, 254, 0.6);
            bottom: -2rem;
            left: -5rem;
            height: 70px;
            margin: 0 auto;
            max-width: 100%;
            list-style-type: none;
            font-weight: 600;
            font-size: 16px;
        }
} 

@media(max-width: 767px){ 
    .weatherContainer{
        position: relative;
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 33rem;
        margin-top: 50px;
        padding-left: 15px;
        line-height: 1.6;
        font-size: 1.2em;
        padding-left: 15px;
    }

        .city {
            margin: 0;
            line-height: .5;
            max-width: 100%;
            font-size: 25px;
            font-weight: 600;
        }
        .cityNative {
            max-width: 100%;
        }

                .ipAddr {
                    font-size: 15px;
                    line-height: 1.3;
                }
        .flex {
            display: inline-flex;
            align-items: center;
            width: 80%;
            position: relative;
            left: 0;
            top: 0;

        }


    .OtherInformation {
        position: relative;
        padding: 0;
        margin: 10px;
        bottom: -2rem;
        left: -.3rem;
        display: inline-flex;
        flex-direction: column;
        line-height: 2.2;
        font-weight: 600;
        font-size: 15px;
        color: rgba(254, 254, 254, 0.6);
        word-wrap: break-word;
    }
    .OtherInformationIcon {
        max-width: 23px;
        margin-right: 10px;
    }

    /* Next two days weather info*/
        .OtherInformationForecast {
            position: relative;
            padding: 0;
            bottom: -4rem;
            left: 0;
            display: inline-flex;
            flex-direction: column;
            list-style: none;
            line-height: 2.2;
            font-weight: 600;
            font-size: 16px;
            color: rgba(254, 254, 254, 0.6);
            word-wrap: break-word;
        }
    
    /*=========== currency ==============*/
    .countryInfo{
        position: absolute;
        width: 100%;
        margin: 0 auto;
        color: rgba(254, 254, 254, 0.6);
        bottom: -8rem;
        left: 0;
        list-style-type: none;
        font-weight: 600;
        font-size: 15px;
        
    }
    .countryInfo>h5{
        position: relative;
        max-width: 70%;
        margin-bottom: 30px;
        text-align: center;
        font-size: 18px;
    }
    
    .countryInfoItems{
        margin-bottom: 10px;
    }

        .curencyVallue {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 10px;
        }
        
                /* Second column */
                .cryptoWrapper {
                    position: absolute;
                    left: 200px;
                    top: 8rem;
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 5px;
                }
        
                .cryptoWrapper li {
                    width: 100%;
                }

    .tempCold {
        color: rgb(207, 228, 234);
        padding: 22px;
        font-size: 60px;
        font-weight: 300;
    }
    
    .tempVeryCold {
        color: rgb(82, 154, 221);
        padding: 22px;
        font-size: 60px;
        font-weight: 300;
    }
    
    .temp {
        color: rgb(234, 234, 207);
        padding: 22px;
        font-size: 60px;
        font-weight: 300;
    }
    
    .tempAverageDegrees {
        color: rgb(229, 206, 153);
        padding: 22px;
        font-size: 60px;
        font-weight: 300;
    }
    
    .tempHighDegrees {
        color: rgb(234, 172, 90);
        padding: 22px;
        font-size: 60px;
        font-weight: 300;
    }
    
    .tempExtremeDegrees {
        color: rgb(255, 117, 42);
        padding: 22px;
        font-size: 60px;
        font-weight: 300;
    }
    
    .feelsLike {
        position: relative;
        top: -16px;
        font-size: 18px;
        font-weight: 400;
    }
        

    }