.weekData {
    display: inline-flex;
    position: absolute;
    right: 3px;
    top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    color: rgb(198, 198, 198);
}



.container {
    width: 120px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100px;
    margin: 6px;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.container:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: rgba(3, 102, 214, 0.2) 0px 0px 0px 3px;
}

.date {
    margin-top: 6px;
    color: rgb(211, 210, 210);
    font-size: 15px;
}

/*============== TEMP ===================*/
.tempVeryCold {
    color: rgb(82, 154, 221);
    font-size: 20px;
    font-weight: 600;
    margin-top: -15px;
    margin-bottom: 5px;
}

.tempCold {
    color: rgb(207, 228, 234);
    font-size: 20px;
    font-weight: 600;
    margin-top: -15px;
    margin-bottom: 5px;
}

.temp {
    color: rgb(234, 234, 207);
    font-size: 20px;
    font-weight: 600;
    margin-top: -15px;
    margin-bottom: 5px;
}

.tempAverageDegrees {
    color: rgb(229, 206, 153);
    font-size: 20px;
    font-weight: 600;
    margin-top: -15px;
    
}

.tempHighDegrees {
    color: rgb(234, 172, 90);
    font-size: 25px;
    font-weight: 600;
    margin-top: -15px;
    margin-bottom: 5px;
}

.tempExtremeDegrees {
    color: rgb(255, 117, 42);
    font-size: 25px;
    font-weight: 600;
    margin-top: -15px;
    margin-bottom: 5px;
}


.flex {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    color: rgb(180, 181, 181);
    text-align: center;
}

.icon {
    margin-right: 5px;
    width: 30px;
}

.loader {
    animation: spinningColor 1.5s ease-in-out infinite;
    border: 5px double #a896fd;
    border-radius: 50%;
    width: 50px;
    margin: 70px auto;
    height: 50px;
}

@keyframes spinningColor {
    0% {
        transform: rotate(360deg);
        border-top: 5px dashed #f56682;
        border-bottom: 5px dashed #387eff;
    }

    25% {
        border-top: 5px dashed #f591a6;
        border-bottom: 5px dashed #6da7f7;
    }

    50% {
        border-top: 5px dashed #fd878e;
        border-bottom: 5px dashed #4ba3ff;
    }

    75% {
        border-top: 5px dashed #f57f8f;
        border-bottom: 5px dashed #569dff;
    }

    100% {
        border-top: 5px dashed #f56682;
        border-bottom: 5px dashed #387eff;
    }
}

/* ===================== Mobile ======================= */
@media(max-width: 950px){ 
.weekData {
        top: 5rem;            
    }
                .container {
                    width: 180px;
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    min-height: 180px;
                    margin: 16px;
                    padding: 0px;
                    background-color: #2b2b2b64;
                    box-shadow: rgba(3, 102, 214, 0.2) 0px 0px 0px 2.5px;
                    -webkit-transition: 0.25s;
                    -o-transition: 0.25s;
                    transition: 0.25s;
                }
                                .date {
                                    margin-top: 6px;
                                    color: rgb(211, 210, 210);
                                    font-size: 18px;
                                }
} 

@media(max-width: 767px){ 
    .weekData {
        display: inline-flex;
        overflow-x: scroll;
        position: relative;
        margin: 0 auto;
        left: 0px;
        top: -4rem;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 5px;
        color: rgb(198, 198, 198);
    }
    
    .container {
        width: 120px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        min-height: 120px;
        margin: 16px;
        padding: 20px;
        border-radius: 225px;
        background-color: #10222b7a;
        box-shadow: rgba(214, 76, 12, 0.5) 0px 0px 0px 2px;
        -webkit-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
    }
    .container:hover {
        background-color: #ff9f388d;
    }



    }
