/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.AlternativeSearchResult {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    max-width: 100%;
    margin-bottom: 80px;
    padding: 10px;
    max-height: 23rem;
    line-height: 1.4;
    font-size: 18px;
}

/*============== TEMP ===================*/
.tempCold {
    color: rgb(207, 228, 234);
    position: relative;
    top: -10px;
    margin: 15px;
    font-size: 50px;
    font-weight: 500;
}

.tempVeryCold {
    color: rgb(82, 154, 221);
    position: relative;
    top: -10px;
    margin: 15px;
    font-size: 50px;
    font-weight: 500;
}

.temp {
    color: rgb(234, 234, 207);
    position: relative;
    top: -10px;
    margin: 15px;
    font-size: 50px;
    font-weight: 500;
}

.tempAverageDegrees {
    color: rgb(229, 206, 153);
    position: relative;
    top: -10px;
    margin: 15px;
    font-size: 50px;
    font-weight: 500;
}

.tempHighDegrees {
    color: rgb(234, 172, 90);
    position: relative;
    top: -10px;
    margin: 15px;
    font-size: 50px;
    font-weight: 500;
}

.tempExtremeDegrees {
    color: rgb(255, 117, 42);
    position: relative;
    top: -10px;
    margin: 15px;
    font-size: 50px;
    font-weight: 500;
}

.feelsLike {
    position: relative;
    top: -16px;
    font-weight: 600;
}

.OtherInformation {
    position: relative;
    padding: 10px;
    bottom: 18rem;
    left: 20rem;
    max-width: 60%;
    list-style: none;
    line-height: 2;
    font-weight: 600;
    font-size: 14px;
    color: rgba(254, 254, 254, 0.6);
    word-wrap: break-word;
}

.OtherInformationIcon {
    max-width: 22px;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 10px;
}

.daylightHours {
    font-size: 15px;
}

/*=========== Currency ==============*/
.countryInfo {
    position: absolute;
    color: rgba(254, 254, 254, 0.6);
    bottom: 15rem;
    right: 17rem;
    height: 50px;
    max-width: 27rem;
    list-style-type: none;
    font-weight: 600;
    font-size: 14px;
}

.countryInfo>h5 {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    color: rgba(254, 254, 254, 0.7);
}

.curencyVallue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.countryInfoItems {
    margin-bottom: 8px;
}


.countryInfoItemsSecondColon {
    position: absolute;
    left: 200px;
    top: 95px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 5px;
}

.countryInfoItemsSecondColon li {
    width: 300px;
}

/*=========== Air Quality ==============*/
.airQuality {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
}

.co {
    margin-right: 20px;
}

.airQualityTitle {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 10px;
}

.questionIconWrapper {
    position: absolute;
    margin-left: 15px;
    cursor: pointer;
}

.questionIcon {
    width: 30px;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.questionIcon:hover {
    width: 40px;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}


/*Air quality colors*/
.airMin {
    color: rgb(93, 180, 93);
}

.airAverage {
    color: rgb(201, 207, 82);
}

.airHight {
    color: rgba(255, 183, 0, 1);
}

.airVeryHight {
    color: rgb(206, 69, 69);
}

.airExtreme {
    color: rgb(197, 0, 26);
}

.airDanger {
    color: rgb(150, 1, 196);
}

/*UV-index*/
.uvMin {
    color: rgb(93, 180, 93);
}

.uvAverage {
    color: rgb(201, 207, 82);
}

.uvHight {
    color: rgba(255, 183, 0, 1);
}

.uvVeryHight {
    color: rgb(206, 69, 69);
}

.uvExtreme {
    color: rgb(197, 0, 26);
}

.uvProgressBar {
    position: relative;
    text-align: center;
    width: 80px;
    height: 9px;
    border: 0;
    bottom: 3px;
    overflow: hidden;
    border-radius: 2px;
    background-color: #c2c2c2bf;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .8) inset;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .8) inset;
    opacity: .6;
}


.uvProgressBar[value]::-moz-progress-bar {
    background-color: #292929ac;
    border-radius: 2px;
    border: 0;
    -moz-appearance: none;
    appearance: none;
}

.uvProgressBar[value]::-webkit-progress-bar {
    background-color: #3c3c3c85;
    border-radius: 2px;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
}

.uvProgressBar::-webkit-progress-value {
    width: 80px;
    height: 9px;
    border: 0;
    overflow: hidden;
    border-radius: 2px;
    /* background-color: #eeeded; */
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
}


.OtherInformationForecast {
    position: relative;
    padding: 10px;
    bottom: 220px;
    left: 350px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    line-height: 2;
    font-weight: 600;
    font-size: 15px;
    color: rgba(254, 254, 254, 0.6);
    word-wrap: break-word;
}

.city {
    margin: 0;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 400;
}

.ipAddr {
    font-size: 14px;
    line-height: .3;
}

.date {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: 500;
}


.flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 20%;
    position: relative;
    left: -15px;
    top: -10px;
}

.humidity {
    margin-right: 30px;
}

.wind {
    margin-right: 30px;
}

.feelsLike {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #c2c2c2;
}

/* Back Btn */
.currentWeatherBtn {
    width: 100px;
    position: absolute;
    top: -72px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, .72);
    font-weight: 600;
    background: rgb(24, 24, 24, 1);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 8px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.currentWeatherBtn:hover {
    color: rgb(179, 179, 179);
    -webkit-box-shadow: rgba(201, 201, 201, 0.1) 0px 2px 15px, rgba(62, 62, 62, 0.2) 0px 4px 15px;
    box-shadow: rgba(201, 201, 201, 0.1) 0px 2px 15px, rgba(62, 62, 62, 0.2) 0px 4px 15px;
}

.currentWeatherBtn:before {
    content: "";
    background: -o-linear-gradient(45deg,
            #5f5f5f94,
            #b2b2b29b,
            #4848488f,
            #3636367d,
            #2a4e67);
    background: linear-gradient(45deg,
            #5f5f5f94,
            #b2b2b29b,
            #4848488f,
            #3636367d,
            #2a4e67);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    -webkit-animation: glowing-currentWeatherBtn 15s linear infinite;
    animation: glowing-currentWeatherBtn 15s linear infinite;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: .4;
}

@-webkit-keyframes glowing-currentWeatherBtn {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes glowing-currentWeatherBtn {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.currentWeatherBtn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(28, 28, 28, .1);
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* Home Btm */
.backWeatherBtn {
    width: 100px;
    position: absolute;
    top: -25px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, .72);
    font-weight: 600;
    background: rgb(24, 24, 24, 0.8);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 8px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.backWeatherBtn:hover {
    color: rgb(179, 179, 179);
    -webkit-box-shadow: rgba(201, 201, 201, 0.1) 0px 2px 15px, rgba(62, 62, 62, 0.2) 0px 4px 15px;
    box-shadow: rgba(201, 201, 201, 0.1) 0px 2px 15px, rgba(62, 62, 62, 0.2) 0px 4px 15px;
}

.backWeatherBtn:before {
    content: "";
    background: -o-linear-gradient(45deg,
            #5f5f5f94,
            #b2b2b29b,
            #4848488f,
            #3636367d,
            #2a4e67);
    background: linear-gradient(45deg,
            #5f5f5f94,
            #b2b2b29b,
            #4848488f,
            #3636367d,
            #2a4e67);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    -webkit-animation: glowing-currentWeatherBtn 15s linear infinite;
    animation: glowing-currentWeatherBtn 15s linear infinite;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: .4;
}

@-webkit-keyframes glowing-backWeatherBtn {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes glowing-backWeatherBtn {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.backWeatherBtn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(28, 28, 28, .1);
    left: 0;
    top: 0;
    border-radius: 10px;
}

/*==================== Mobile =================== */
@media(max-width: 1320px) {
    .AlternativeSearchResult {
        position: relative;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        max-width: 100%;
        margin-bottom: 80px;
        padding: 30px;
        max-height: 45rem;
        line-height: 1.5;
        font-size: 18px;
    }

    .OtherInformation {
        position: relative;
        padding: 10px;
        bottom: 18rem;
        left: 20rem;
        list-style: none;
        line-height: 2;
        font-weight: 600;
        font-size: 14px;
        color: rgba(254, 254, 254, 0.6);
        word-wrap: break-word;
    }

    /*=========== Currency ==============*/
    .countryInfo {
        position: relative;
        color: rgba(254, 254, 254, 0.6);
        bottom: 12rem;
        left: 0rem;
        height: 50px;
        margin: 0 auto;
        max-width: 27rem;
        list-style-type: none;
        font-weight: 600;
        font-size: 14px;
    }

    /* Second column */
    .countryInfoItemsSecondColon {
        position: absolute;
        left: 200px;
        top: 75px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 5px;
    }

    .countryInfoItemsSecondColon li {
        width: 100%;
    }
}


@media(max-width: 950px) {
    .AlternativeSearchResult {
        position: relative;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 280px;
        padding: 30px;
        max-height: 65rem;
        line-height: 1.6;
        font-size: 25px;
    }

    /*============== TEMP ===================*/
    .tempCold {
        color: rgb(207, 228, 234);
        position: relative;
        top: -10px;
        margin: 15px;
        font-size: 70px;
    }

    .tempVeryCold {
        color: rgb(82, 154, 221);
        position: relative;
        top: -10px;
        margin: 15px;
        font-size: 70px;
    }

    .temp {
        color: rgb(234, 234, 207);
        position: relative;
        top: -10px;
        margin: 15px;
        font-size: 70px;
    }

    .tempAverageDegrees {
        color: rgb(229, 206, 153);
        position: relative;
        top: -10px;
        margin: 15px;
        font-size: 70px;
    }

    .tempHighDegrees {
        color: rgb(234, 172, 90);
        position: relative;
        top: -10px;
        margin: 15px;
        font-size: 70px;
    }

    .tempExtremeDegrees {
        color: rgb(255, 117, 42);
        position: relative;
        top: -10px;
        margin: 15px;
        font-size: 70px;
    }

    .feelsLike {
        position: relative;
        top: -16px;
        font-size: 20px;
        font-weight: 600;
    }

    .OtherInformation {
        position: relative;
        padding: 10px;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        list-style: none;
        line-height: 2;
        font-weight: 600;
        font-size: 20px;
        color: rgba(254, 254, 254, 0.6);
        word-wrap: break-word;
    }

    .OtherInformationForecast {
        position: relative;
        padding: 10px;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        list-style: none;
        line-height: 2;
        font-weight: 600;
        font-size: 20px;
        color: rgba(254, 254, 254, 0.6);
        word-wrap: break-word;
    }

    /*=========== Currency ==============*/
    .countryInfo {
        position: relative;
        color: rgba(254, 254, 254, 0.6);
        bottom: -1rem;
        left: 8rem;
        height: 70px;
        margin: 0 auto;
        max-width: 100%;
        list-style-type: none;
        font-weight: 600;
        font-size: 16px;
    }

    .countryInfo>h5 {
        position: relative;
        max-width: 100%;
        margin-bottom: 30px;
        text-align: left;
        font-size: 18px;
    }

    /* Second column */
    .countryInfoItemsSecondColon {
        top: 95px;
    }


}

@media(max-width: 767px) {
    .AlternativeSearchResult {
        position: relative;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        margin-bottom: 33rem;
        margin-top: 40px;
        padding-left: 15px;
        line-height: 1.6;
        font-size: 1.2em;
    }

    .city {
        margin: 0;
        line-height: 1.8;
        max-width: 100%;
        font-size: 25px;
        font-weight: 600;
    }


    .cityNative {
        max-width: 100%;
    }

    .ipAddr {
        font-size: 15px;
        line-height: 1.3;
    }

    .flex {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 80%;
        position: relative;
        left: 0;
        top: 0;
    }

    .OtherInformation {
        position: relative;
        padding: 0;
        margin: 10px auto;
        width: 100%;
        bottom: -2rem;
        left: -6rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        line-height: 2.2;
        font-weight: 600;
        font-size: 14px;
        color: rgba(254, 254, 254, 0.6);
        word-wrap: none;
        white-space: nowrap;
    }

    .OtherInformationIcon {
        max-width: 23px;
        margin-right: 10px;
    }

    /* Next two days weather info*/
    .OtherInformationForecast {
        position: relative;
        padding: 0;
        bottom: -4rem;
        left: 0;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        list-style: none;
        line-height: 2.2;
        font-weight: 600;
        font-size: 14px;
        color: rgba(254, 254, 254, 0.6);
        word-wrap: break-word;
    }

    /*=========== currency ==============*/
    .countryInfo {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        color: rgba(254, 254, 254, 0.6);
        bottom: -8rem;
        left: -1rem;
        list-style-type: none;
        font-weight: 600;
        font-size: 14px;

    }

    .countryInfo>h5 {
        position: relative;
        max-width: 80%;
        margin-bottom: 30px;
        text-align: center;
        font-size: 18px;
        color: #574cee;
    }

    .countryInfoItems {
        margin-bottom: 10px;
    }

    .curencyVallue {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 10px;
    }

    /* Second column */
    .countryInfoItemsSecondColon {
        position: absolute;
        left: 200px;
        top: 115px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 5px;
    }

    .countryInfoItemsSecondColon li {
        width: 100%;
    }

    .tempCold {
        color: rgb(207, 228, 234);
        padding: 22px;
        font-size: 60px;
        font-weight: 300;
    }

    .tempVeryCold {
        color: rgb(82, 154, 221);
        padding: 22px;
        font-size: 60px;
        font-weight: 300;
    }

    .temp {
        color: rgb(234, 234, 207);
        padding: 22px;
        font-size: 60px;
        font-weight: 300;
    }

    .tempAverageDegrees {
        color: rgb(229, 206, 153);
        padding: 22px;
        font-size: 60px;
        font-weight: 300;
    }

    .tempHighDegrees {
        color: rgb(234, 172, 90);
        padding: 22px;
        font-size: 60px;
        font-weight: 300;
    }

    .tempExtremeDegrees {
        color: rgb(255, 117, 42);
        padding: 22px;
        font-size: 60px;
        font-weight: 300;
    }

    .feelsLike {
        position: relative;
        top: -16px;
        font-size: 18px;
        font-weight: 400;
    }

}