.weatherContainer {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 5px;
    height: 20rem;
}

.temp {
    color: rgb(173, 195, 238);
    margin: 0;
    font-size: 55px;
    font-weight: 500;
}

.OtherInformation {
    position: relative;
    padding: 20px;
    bottom: 280px;
    left: 320px;
    display: inline-flex;
    flex-direction: column;
    line-height: 1.8;
    width: 40%;
    font-weight: 600;
    color: rgba(254, 254, 254, 0.5);
}

.city {
    margin: 0;
}

.date {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 40px;
}


.flex {
    display: inline-flex;
    align-items: center;
    width: 20%;
    position: relative;
    left: -17px;
    top: -10px;
}

.humidity {
    margin-right: 30px;
}

.wind {
    margin-right: 30px;
}

.feelsLike {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
}


.description {
    font-weight: 600;
}

/*================ Timeline started ============== */
.timelineContainer {
    display: flex;
    padding: 15px 0px;
    height: 12rem;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgb(66, 78, 92) 0px 0px 0px 2px;
    border-radius: 20px;
}

.container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    padding: 0px;
    min-height: 160px;
    min-width: 200px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

.container:hover {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: rgba(3, 102, 214, 0.2) 0px 0px 0px 2px;
}

.flexTimeLine {
    display: flex;
    text-align: center;
    align-items: center;
}

.dateTimeLine {
    margin: 0 0 10px 0;
}

.tempTimeLine {
    font-size: 28px;
    color: rgb(173, 195, 238);
    margin: 0;
}