body {
  background-color: #98b1fe;
background-image: -webkit-linear-gradient(180deg, #98c1fe 0%, #d7c6fa 50%, #e6e3fa 100%);
background-image: -moz-linear-gradient(180deg, #98c1fe 0%, #d7c6fa 50%, #e6e3fa 100%);
background-image: -o-linear-gradient(180deg, #98c1fe 0%, #d7c6fa 50%, #e6e3fa 100%);
background-image: linear-gradient(180deg, #98c1fe 0%, #d2befa 50%, #e6e3fa 100%);


  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="text"] {
  font-size: 16px;
  font-weight: 600;
  color: #c2c2c2;
}

/*============ Placeholder Start ============*/
::-webkit-input-placeholder {
  color: #9a9a9a;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
  /* Firefox */
}

::-moz-placeholder {
  color: #9a9a9a;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
  /* Firefox */
}

:-ms-input-placeholder {
  color: #9a9a9a;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
  /* Firefox */
}

::-ms-input-placeholder {
  color: #cecece;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
  /* Firefox */
}

::placeholder {
  color: #cecece;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cecece;
  font-size: 14px;
  font-weight: 600;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cecece;
  font-size: 14px;
  font-weight: 500;
}

/*============ Placeholder Start ============*/

input[type="text"]:focus {
  outline: none;
  color: #cecece;
  font-size: 16px;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}


/*============ Scroll Bar Start ============*/
/* Scroll 4 */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1a100;
}

/*MOZ*/
html {
  overflow-y: scroll;
  scrollbar-color: rgba(212, 168, 255, 0) rgba(253, 253, 253, 0);
  scrollbar-width: none;
}

/*============ Scroll Bar End ============*/